[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "example/traffic/traffic-simulation"]
	path = example/traffic/traffic-simulation
	url = git@github.com:prg-titech/traffic-simulation.git
